<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Avatar:</strong>
  <% if @post.avatar.attached? %>
    <%= image_tag @post.avatar, width: "200px" %>
  <% end %>
</p>

<p>
  <strong>Images:</strong>
  <% if @post.images.attached? %>
    <% @post.images.each do |image| %>
      <%= image_tag image, width: "200px" %>
    <% end %>
  <% end %>
</p>

<p>
  <strong>Content:</strong>
  <%= simple_format(@post.content) %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
